@import '../layout/style.scss';

.home {
  .container {
    max-width: 1000px;
    margin: 0 auto;

    .title {
      font-size: 60px;
      font-family: 'Goldman', cursive;
      color: $green;
      text-align: center;
      margin: 0;
      margin-top: 100px;

      @media(max-width: 550px) {
        font-size: 50px;
      }
    }

    P {
      text-align: center;
      color: $white;
      font-size: 17px;
    }
    
    .by {
      font-size: 18px;
      opacity: 0.015;
    }

    .user {
      max-width: 400px;
      opacity: 0.007;
      margin: 0 auto;
      font-size: 15px;
    }

    .description {
      font-size: 22px;
    }

    .reports_container {
      margin-top: 100px;
      margin-bottom: 50px;
      width: 100%;

      .report_title {
        text-align: center;
        color: white;
        font-family: 'Goldman', cursive;
        font-size: 25px;
        letter-spacing: 1px;
      }
    }
  }
}
